<div class="card h-100">
  <div class="row g-5 px-3 px-md-5">
    <div class="col-md-6 d-flex flex-column gap-4 justify-content-center">
      <img
        [src]="selectedImage || productDetail.thumbnail"
        class="img-fluid rounded-start mx-auto bg-light"
        alt="Product image"
      />
      <div class="thumbnail-images d-flex flex-wrap justify-content-center">
        <img
          *ngFor="let image of productDetail.images"
          [src]="image"
          class="img-thumbnail m-1"
          [class.selected]="image === selectedImage"
          (click)="selectImage(image)"
          alt="Product thumbnail"
          style="width: 60px; height: 60px; cursor: pointer"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title fw-bolder">{{ productDetail.title }}</h5>
        <span
          class="badge text-bg-success text-capitalize fw-bolder d-flex mx-3 my-1 text-start"
          *ngIf="productDetail.stock > 0"
          >in stock</span
        >
        <span
          class="badge text-bg-danger text-capitalize fw-bolder d-flex mx-3 my-1 text-start"
          *ngIf="productDetail.stock <= 0"
          >out of stock</span
        >
        <p class="card-text">
          <small class="text-muted">
            <span>{{ productDetail.description }}</span>
          </small>
        </p>
        <div class="rating">
          <ng-container *ngFor="let star of stars; let i = index">
            <i
              class="fa fa-star"
              [ngClass]="i < roundedRating ? 'text-success' : 'text-muted'"
            ></i>
          </ng-container>
          ({{ productDetail.reviews.length }})
          <hr />
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted fw-bolder badge text-bg-warning fs-6"
                >Brand: {{ productDetail.brand }}</small
              >
              <small class="text-muted fw-bolder badge text-bg-info fs-6 mx-2"
                >Category: {{ productDetail.category }}</small
              >
            </p>

            <p
              class="card-text fw-bold text-decoration-line-through text-danger"
            >
              {{ productDetail.price }} $
            </p>
            <h4 class="card-text price text-success">
              {{
                (
                  productDetail.price -
                  (productDetail.price / 100) * productDetail.discountPercentage
                ).toFixed(2)
              }}
              $
            </h4>

            <hr />
            <div class="d-flex flex-column flex-md-row align-items-center">
              <button
                class="btn btn-success mb-2 mb-md-0 me-md-2"
                (click)="decreaseQuantity(productDetail.id)"
              >
                -
              </button>
              <span class="mb-2 mb-md-0">{{
                quantities[productDetail.id]
              }}</span>
              <button
                class="btn btn-success ms-md-2"
                (click)="increaseQuantity(productDetail.id)"
              >
                +
              </button>
            </div>
            <button class="btn btn-danger mt-3">Buy Now</button>
            <button
              class="btn btn-outline-success mt-3 ms-2"
              (click)="addToCart(productDetail.id)"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
